{% block body %}
<div>
    <form action="/maleteo/formulario-opiniones" method="post">
        <label for="comentario">Comentario:</label>
        <input type="text" id="comentario" name="comentario"/>
        <label for="autor">Autor:</label>
        <input type="text" id="autor" name="autor"/>
        <label for="ciudad">ciudad:</label>
        <input type="text" id="ciudad" name="ciudad"/>
        <input type="submit" value="Enviar Comentario"/>
    </form>
</div>
{% endblock %}



