{% block body %}
    <div class="row">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <h1>Solicitudes</h1>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Posición</th>
                    <th>Nombre</th>
                </tr>
            </thead>
            <tbody>
            {% for nombre in formulario %}
                <tr>
                    <th>{{ loop.index }}</th>
                    <td>{{ nombre.nombre }}</td>
            {% endfor %}
            </tbody>
        </table>

    </div>


    </div>
{% endblock %}

